body {
  font-family: 'Roboto';
}

.nav-inactive {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-active {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-underline-offset: 5px;
}
